/* =@imports // Note that @imports should be minified and 
/*              included in the main CSS file for production.
/*-----------------------------------------------------------*/
@import url('normalize.css');


/* =@HTML
/*-----------------------------------------------------------*/

/* * { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}*/

/* =@Classes
/*-----------------------------------------------------------*/

.ir {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
        overflow:hidden;
}

ul { list-style:none; margin:0; padding:0;}

/* scroll interface ****************** */

#scroll-wrapper {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
}

#scroll-wrapper canvas{
    position:absolute;
}

.tilt-shift-over {
    position:absolute;
    width:  100%;
    -webkit-filter: blur(4px);
    -webkit-mask-box-image: -webkit-linear-gradient(black 15%, transparent 45%, transparent 55%, black 85%);
}


.tilt-shift-under {
    position:absolute;
    width: 100%;
}


/* screen element ********************* */

/*video */

#main-screen {
    display:none;
}

#time-slider {
    position:absolute;
    width:100%;
    bottom:0px;
    opacity:.3;
    height:10px;
}

/*fade to black*/

#black-screen {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
}

/*text elements*/

.text-block-black-75 {
    color:#666666;
    background:rgba(0,0,0,0.7);
    padding:5px;
}

#video-menu-container {
    font-size:.85em;
    position: absolute;
    top:0;
    left:0;
    font-size:.85em;
}

.text-link {
   cursor: pointer;  
}

.text-link:hover {
    color:#cccccc;
    text-decoration: underline;
}


#video-menu {
    font-size:.85em;
    display:none;
}


#video-status {
    position: absolute;
    top:0;
    right:0;
    width:10%;

}

/*tilt shift*/

#still-screen{
    position:absolute;
    top:0px;
    left:0px;
}

#tilt-shift-over {
    position:absolute;
    width:  100%;
    -webkit-filter: blur(5px) sepia(70%);
    -webkit-mask-box-image: -webkit-linear-gradient(black 15%, transparent 45%, transparent 55%, black 85%);
}


#tilt-shift-under {
    position:absolute;
    width: 100%;
    -webkit-filter: sepia(70%);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
          box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}



